@import "mixin";
@import "public";
.decbg-1{
    background: rgba(255, 78, 0, 0.2);
}
.decbg-2{
    background: rgba(211, 198, 166, 0.2);
}
.decbg-3{
    background: rgba(120, 205, 209, 0.2);
}
.box-shaow{
    background: rgba(255, 255, 255, 0.0470588); 
    @include radius(10px);
}
.headbg{
    background:url(../images/head.png) no-repeat;
    background-size:100% 100%;
}
.headnav{
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 15px;
    line-height: 30px;
    a{
        color: #91c7ae;
    }
}
.backstep{
    a{
        font-size: 18px;
        color: #91c7ae;
    }
}
.spbg_1{
    background-color: rgba(51,163,179,0.7);
}
.spbg_2{
   background-color: rgba(0,0,0,0.2) 
}
.spbg_3{
    background-color: rgba(208, 106, 77, 0.298039);
}

.individualuser{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
    .head{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 24px;
        color: #fff;
        height: 70px;
        line-height: 70px;
        padding-left: 20px;
        box-sizing: border-box;
        text-align: center;
    }
    .userleft{
        position: absolute;
        left: 0;
        top: 70px;
        bottom: 0;
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 20px;
        box-sizing: border-box;
        overflow: hidden;
        .content{
            height: 100%;
            box-sizing: border-box;
            .userchart-box{
               height: 100%;
               padding: 10px;
               position: relative;
               box-sizing: border-box;
               @extend .box-shaow;
            }
        }
    }
    .userright{
        position: absolute;
        right: 0;
        top: 70px;
        bottom: 0;
        padding-left: 10px;
        padding-right: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;
        overflow: hidden;
        @extend .clearfix;
        .item{
            position: relative;
            box-sizing: border-box;
            .title{
                position: absolute;
                font-size: 18px;
                top: 5px;
                left: 0;
                right: 0;
                line-height: 30px;
                color: #fff;
                text-align: center;
                .headnav{
                    right: 20px;
                    bottom: 0;
                }
            }
            .content{
                height: 100%;
                padding: 10px;
                box-sizing: border-box;
                @extend .box-shaow;
            }
        }
    }
}

#userdec{
    position: relative;
    .userdec-pic{
        position: absolute;
        width: 300px;
        height: 346px;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -173px;
        z-index: 3;
    }
    .txt{
        display: inline-block;
        position: absolute;
        z-index: 2;
        font-size: 20px;
        width: 120px;
        text-align: center;
        line-height: 24px;
        top: 50%;
        left: 50%;
        color: #fff;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        opacity: 0;
        transition:all 1s;
    }
    .txt-1.active{
        opacity: 1;
        top: 20%;
        left: 10%;
        transform: rotate(-20deg);
    }
    .txt-2.active{
        opacity: 1;
        top: 40%;
        left: 5%;
        transform: rotate(40deg);
    }
    .txt-3.active{
        opacity: 1;
        top: 65%;
        left: 10%;
        transform: rotate(-40deg);
    }
    .txt-4.active{
        opacity: 1;
        top: 25%;
        left: 63%;
        transform: rotate(-30deg);
    }
    .txt-5.active{
        opacity: 1;
        top: 60%;
        left: 60%;
        transform: rotate(30deg);
    }
}
.formselect{
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}
.chartdetail-box{
    position: absolute;
    padding-left: 10px;
    right: 10px;
    top: 50%;
    width: 280px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    .d-item{
        position: relative;
        color: #fff;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        .i-title{
            font-size: 24px;
            line-height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        .i-content{
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            @extend .clearfix;
            span{
                float: left;
                display: inline-block;
                padding: 0 2px;
                font-size: 50px;
                line-height: normal;
            }
            span.strsp{
                font-size: 40px;
            }
            span.sp_unit{
                font-size: 24px!important;
                padding-top: 30px;
                color: rgba(255,255,255,0.5);
            }
        }
    }
}
.userdec-text{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.tpanbox{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 8px;
    padding:5px 0; 
    &:nth-child(2n+0){
        padding-left: 8px;
        padding-right: 0;
    }
   .tpan{
        height: 38px;
        margin-bottom: 10px;
        line-height: 38px;
        @include radius(3px);
        color: #fff;
        padding: 0 15px;
        i{
            font-style: normal;
            margin-right: 8px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    } 
}
.userdec-layout{
    padding-top: 40px!important;
    .dtitle{
        position: absolute;
        font-size: 18px;
        top: 15px;
        left: 0;
        right: 0;
        line-height: 30px;
        color: #fff;
        text-align: center;
    }
}
