<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>故障分析</title>
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/public.css" />
<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
<style type="text/css">
.chartdetail-box .d-item .i-content span.strsp {
    font-size: 30px;
    display: block;
    clear: both;
}
</style>
</head>
<body>
	<div class="individualuser">
		<div class="head headbg">
			<span class="backstep fl"> <a href="/view/usergroups"><i class="fa fa-user mr5"></i>用户群体画像</a>
			</span> <span>故障地区分布</span>
		</div>
		<div class="userleft wb65">
			<div class="content">
				<div class="userchart-box pdr300">
					<!--
                        	作者：offline
                        	时间：2017-09-24
                        	描述：故障地区分布Echart，userechart-9.js
                        -->
					<div id="faultarea" class="fulllayout"></div>

					<!--
                        	作者：offline
                        	时间：2017-10-07
                        	描述：细节统计
                        -->
					<div class="chartdetail-box"></div>
				</div>
			</div>
		</div>
		<div class="userright wb35">
			<div class="item wb100 hb50 pdb10">
				<div class="content">
					<!--
                        	作者：offline
                        	时间：2017-09-24
                        	描述：故障类别比例Echart,userechart-10.js
                        -->
					<div id="faultcategory" class="fulllayout"></div>
				</div>
			</div>
			<div class="item wb100 hb50 pdt10">
				<!--<div class="title">故障时间分布</div>-->
				<div class="content">
					<!--
                        	作者：offline
                        	时间：2017-09-24
                        	描述：故障时间分布Echart,userechart-11.js
                        -->
					<div id="faulttime" class="fulllayout"></div>
				</div>
			</div>
		</div>
	</div>



	<div class="mask-layout"></div>
	<script type="text/javascript" src="/static/js/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="/static/js/publicConfig.js"></script>
	<!--
        	作者：offline
        	时间：2017-09-24
        	描述：demojs
        -->
	<script type="text/javascript" src="/static/js/echarts/china.js"></script>
	<script type="text/javascript" src="/static/js/trouble-chart-1.js"></script>
	<script type="text/javascript" src="/static/js/trouble-chart-2.js"></script>
	<script type="text/javascript" src="/static/js/trouble-chart-3.js"></script>
	<!--end-->
	<script type="text/javascript" src="/static/js/trouble.js"></script>
</body>
</html>
