<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>用户群体画像</title>
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/public.css" />
<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
	<div class="individualuser">
		<div class="head headbg">
			<span>用户群体画像</span> <span class="backstep fl"> <a href="/view/trouble"><i class="fa fa-car mr5"></i>故障分析</a>
			</span>
		</div>
		<div class="userleft wb60">
			<div class="content">
				<div class="userchart-box pdr300">
					<!--
                        	作者：offline
                        	时间：2017-09-24
                        	描述：用户群体画像Echart，userechart-7.js
                        -->
					<div id="usergroup" class="fulllayout"></div>

					<div class="chartdetail-box">
					</div>
				</div>
			</div>
		</div>
		<div class="userright wb40">
			<div class="item wb100 hb50 pdb10">
				<div class="content">
					<!--
                        	作者：offline
                        	时间：2017-09-24
                        	描述：驾驶模式分析Echart,userechart-8.js
                        -->
					<div id="drivingmode" class="fulllayout"></div>
				</div>
			</div>
			<div class="item wb100 hb50 pdt10">
				<div class="content userdec-layout">
					<div class="dtitle">用户群描述</div>
					<div class="userdec-text clearfix" id="userdecs">
						
					</div>
					<!--
                        	作者：offline
                        	时间：2017-09-24
                        	描述：用户群描述Echart,userechart-9.js
                        -->
					<!--<div id="userdec" class="fulllayout"></div>-->
				</div>
			</div>
		</div>
	</div>


	<div class="mask-layout"></div>
	<script type="text/javascript" src="/static/js/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="/static/js/echarts/dataTool.min.js"></script>
	<script type="text/javascript" src="/static/js/echarts/echarts-wordcloud.min.js"></script>
	<script type="text/javascript" src="/static/js/publicConfig.js"></script>

	<!--
        	作者：offline
        	时间：2017-09-24
        	描述：demojs
        -->
	<script type="text/javascript" src="/static/js/echarts/china.js"></script>
	<script type="text/javascript" src="/static/js/usergroup-chart-1.js"></script>
	<script type="text/javascript" src="/static/js/usergroup-chart-2.js"></script>
	<script type="text/javascript" src="/static/js/usergroup-chart-3.js"></script>
	<!--end-->
	<script type="text/javascript" src="/static/js/usergroups.js"></script>
</body>
</html>
